[2017-07-05 14:33] CherkaouiHamza opened #2 "SAMPLE_DATE_FILES outdated"
in `data.py`:
`get_sample_data` need proper urls from `SAMPLE_DATE_FILES` which is outdated as it points on **local file-system** for now..

[2017-07-06 09:58] AGrigis commented on #2
Fix this issue: data are now available online, add sum check too.

[2017-07-06 09:58] #2 closed

[2017-07-12 14:05] JulienNGirard opened #4 "Istransform attribute"
Add a way to print in which space the transform currently is.

e.g.
[code]
===> return FALSE
[code]
===> return TRUE

[2017-07-12 14:06] JulienNGirard opened #5 "DisplayTransform method"
A simple method to display all currently available transforms.
(instead of doing ....REGISTRY.keys() to print them)

[2017-07-12 14:08] JulienNGirard opened #6 "make get_sample_data really gets data"
`imageastro=get_sample_data("astro-fits")`

imageastro should be an array instead of the path to the data file.

[2017-07-12 14:11] JulienNGirard opened #7 "Too long transform names ?"
the keys in the REGISTRY dict are a bit too long.
==> Sam? Jean-Luc ?

for reference:
[code]

[2017-07-12 14:17] JulienNGirard opened #8 "__setitem__ to enable operations on coefficients"
Allow user to alter coefficients in a specific band/scale.
e.g.
[code]

[2017-09-07 13:09] AGrigis commented on #8
I have updated the code to handle slice properly.
Your use case still work. I have just added a test in pisap/test/test_analysis_synthesis -> test_accessors.

[2017-09-07 13:13] AGrigis commented on #7
We are currently using the SPARSE2D transformation names.
It is easy to change the registry if you can provide a map between the transformation names of the previous comment and shorter new ones.

[2017-11-09 12:55] #8 closed

[2017-11-09 14:10] AGrigis commented on #6
This function now returns an image.

[2017-11-09 14:10] #6 closed

[2017-11-09 14:11] AGrigis commented on #5
I have added a parameter pisap.AVAILABLE_TRANSFORMS and a method pisap.load_transform to simplify the access to the available transforms.

[2017-11-09 14:11] #5 closed

[2017-11-09 14:14] AGrigis commented on #4
The original image is stored in the class 'data' attribute.
Then, after analysis, the data are stored in the 'analysis_data'.
The synthesis method generates a new image.

I think we do not need an extra parameter?

[2017-11-09 14:18] philouc commented on #4
At the first glance, this seems far better than before

[2017-11-24 09:54] sfarrens opened #11 "Check stats and numerics for redundancy with optimisation tools"
Need to remove unnecessary or redundant code for implementing optimisation algorithms

[2017-11-27 13:55] AGrigis opened #12 "CI: check properly Python dependencies."
Test all supported dependencies versions using a 'matrix' configuration.

[2017-11-28 14:40] sfarrens opened #13 "Test pisap build with new Sparse2D release"
Sparse2D v2.0.0 : https://github.com/CosmoStat/Sparse2D/releases/tag/v2.0.0

[2017-11-29 16:21] AGrigis commented on #13
Everything is fine.

[2017-11-29 16:38] #13 closed

[2017-12-05 16:00] #11 closed

[2018-01-16 07:20] SylvainLan opened #18 "Install errors"
Hi everyone,

I just finished installing pisap on my device after some problems solved thanks to @LElgueddari and @AGrigis .

I will make a list of those errors so that it can be checked in the future :
- NFFT is needed, and furthermore the 3.2.4 version seems more suitable. In the newer versions a specific file (nfft3util.h) is removed from the include folder and raises errors when installing pyn

[2018-01-23 09:42] AGrigis opened #19 "Update sf_tools"
Use the new modopt package.

[2018-01-23 09:42] AGrigis opened #20 "Update the package name."
New name is cospy.

[2018-01-23 09:45] AGrigis opened #21 "Pre-release"
Date: 05/03/2018

[2018-01-25 18:18] sfarrens commented on #19
I have a modopt version of  `cartesian_reconstruction.py` and `non_cartesian_reconstruction.py` working now. I still need to debug `p_MRI_cartesian_reconstruction.py`, but as soon as I am done PISAP will be fully up-to-date with modopt.

[2018-01-29 17:42] sfarrens commented on #19
See PR #22 for details.

[2018-02-15 08:27] SylvainLan opened #24 "Installation details"
The README has not been updated with the update to modopt

Also to fix the deprecation warning associated to pyfits it should be removed by using astropy instead

[2018-02-19 14:27] LElgueddari opened #26 "Wrong size of kspace_data when using NFFT and p_MRI"
I tried to use the NFFT on p MRI reconstruction I got this issue :
[code]

This is due to the fact that the shape of the result of the fourier_op.op depends on the fourier operator that we are using it (can be the same size of the image in the cartesian case or a huge vector for the NFFT case)

https://github.com/neurospin/pisap/blob/795f37849b8459c682f366e05f154491fa211020/pisap/plugins/mri/paral

[2018-02-22 16:30] sfarrens opened #28 "Write full installation instructions for Mac OS"
- Homebrew/MacPorts instructions for gcc and cmake

[2018-02-27 11:57] flothesof opened #29 "installation problems on windows"
Hi,
I'm trying to install pisap under Windows. I've tried several approaches that all fail at the cmake compilation stage.

- Python 3.6: compilation fails (cfits and boost)
- Python 2.7: compilation fails (cfits and boost)
This is the part of the log that seems relevant: (identical results were obtained for both Python versions)
[code]

I've noticed that you've also setup Travis builds (https://g

[2018-02-28 10:19] rmyleroy opened #30 "Installation problems on Ubuntu (17.10)"
Here is a list of solutions I have been using to solve problems I have encountered while installing pISAP on my machine (Ubuntu 17.10).

- Install CMake package using `sudo apt install cmake` for the `python setup.py develop --user` command to run properly.

- PyQtGraph requires one of PyQt4, PyQt5 or PySide. Solved using `sudo apt install python-qt4`.

[2018-03-01 17:23] sfarrens commented on #28
- `pyqt` only works when installed with Anaconda for Python 2.7

[2018-03-02 10:06] AGrigis commented on #7
I close this issue.
We decided to keep the names but add shortcut functions (with shorter names) to common decompositions.

[2018-03-02 10:06] #7 closed

[2018-03-02 10:08] #4 closed

[2018-03-02 10:16] AGrigis commented on #18
Thank you for your feedbacks:
* For the NFFT we will generate a document to explain how to install the optional module.
* We will put a note in the installation documentation regarding this point. Note that we prefer users to use the pysparse module that is somehow simply a binding of these commands.
* The optimisation module has been fixed.
* We now use astropy to load the FITS images.
* We will

[2018-03-02 10:16] #18 closed

[2018-03-02 10:21] AGrigis commented on #29
Currently the module is in development and supports only LINUX and MAC.
We will clarify this point in the documentation.
If you are interested we suggest you to use a Virtual Machine with Ubuntu 16.04 LTS.

[2018-03-02 10:23] AGrigis commented on #30
Thank you for your feedback.
We will add a detailed installation documentation for LINUX and MAC in order to check that all the module dependencies are installed properly.

[2018-03-02 10:23] #30 closed

[2018-03-02 10:26] AGrigis commented on #24
Thank you for your feedback.
We integrated all these points.

[2018-03-02 10:26] #24 closed

[2018-03-02 10:26] AGrigis commented on #20
The name is pysap: PYthon Sparse data Analysis Package.

[2018-03-02 10:26] #20 closed

[2018-03-02 12:56] #28 closed

[2018-03-02 13:42] flothesof commented on #29
Ok, great. Thanks for your reply. Shall I leave the issue open until you clarify this point in the documentation?

Best regards,
Florian

[2018-03-09 15:00] SylvainLan opened #35 "scapy version download error for python3"
I am trying to install pysap for python3.6 directly through pip install for my anaconda python

When trying to pip install pysap, I get the following error message

  Using cached pysap-0.1.14.zip
Collecting scapy==2.3.3 (from pysap)
  Using cached scapy-2.3.3.tgz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <mo

[2018-03-12 16:02] AGrigis commented on #35
Thanks for your feedback.

Note that your error comes from scapy:
"/tmp/pip-build-j1kx12h6/scapy/setup.py, line 36"
Please report these bug in the scapy issue tracker.

Nonetheless, I noticed there were missing files in the pysap package.
I added these files, version to install is now 0.0.2.
I installed successfully pysap using the 'pip3 install --user --upgrade python-pysap' command.

[2018-03-12 16:02] #35 closed

[2018-03-28 13:32] AGrigis opened #38 "Toy dataset fetch error on TravisCI"
Problem with travis: https://github.com/travis-ci/travis-ci/issues/9391.
When using FTP to download files with sudo-enabled jobs, the operation is quite unreliable (up to 25% success rate) and cause unexpected errors.

[2018-03-29 13:38] SylvainLan opened #39 "Lipschitz constant not taken into account in plugins.mri.reconstruct.reconstruc.sparse_rec_fista"
The Lipschitz constant is calculated but not put in the ForwardBackward function, making the cost function to explode when L is too big (end set in the algorithm to 1)

A quick fix is to set the 'beta_param'

Maybe it could be a better idea to automatically fetch the inv_spec_rad argument of gradient, but it would need more work.

[2018-03-30 06:36] LElgueddari commented on #39
@sfarrens This even should be fixed at the modopt level: if the fista acceleration is used then the _beta param sould be set as gradient_op.inv_spec_rad

[2018-04-05 12:46] jeremiedecock opened #42 "Wrong installation instructions with pip"
Installation instructions in https://cea-cosmic.github.io/pysap/generated/installation.html are wrong:

_pysap_ corresponds to a completely different package on PyPI. _pysap_ is a "Python library for crafting SAP's network protocols packets".

See https://pypi.org/project/pysap/

[2018-04-05 12:56] jeremiedecock opened #43 "Wrong reference to pypipe"
_pypipe_ is defined as an extra dependency in https://github.com/CEA-COSMIC/pysap/blob/master/pysap/info.py#L87

_pypipe_ corresponds to a completely different package on PyPI (https://pypi.org/project/pypipe/) and thus pip install a wrong dependency with pysap.

Also, there are several Python packages named _pypipe_ on internet and there is no reference to the right one in pysap documentation. I

[2018-04-05 13:35] jeremiedecock opened #45 "Fail to compile PySAP dependencies on MacOSX using Anaconda and MacPorts"
Here are the commands I use to compile and install PySAP on MacOSX using Anaconda and MacPorts
(the environment.yml is available there: https://raw.githubusercontent.com/jeremiedecock/pysap/master/environment.yml )

[code]

It can compile but it cannot link.
I also tried with Python2.7 and I’ve got the same errors.
I'll try with _homebrew_ instead of _macports_.

[2018-04-05 15:18] AGrigis commented on #42
Thank you for your remark.
As you can see in the readme pypi badge we decided to register our project as 'python-pySAP' since 'pysap' was already used.
We will update the documentation to fix this issue.

[2018-04-16 09:33] SylvainLan opened #47 "Travis builds failed because of pycodestyle warnings"
The travis builds don't pass anymore after the latest update of pycodestyle

The first error is just a missing 'r' in the pysap logo.
The second one is a raised warning when there is linebreak after a binary operator (https://pypi.python.org/pypi/pycodestyle), I think that the release was meant to have this warning ignored by default but I guess that because we specify which errors we ignore we ha

[2018-05-07 10:52] bensarthou opened #50 "Problems by using the transforms bindings with reweighting"
In the Condat-Vu reconstruction algorithm (for example in the reconstruct plugin), the options of reweighting "primal" and "dual" lead to some errors:

- With "primal", it calls a method not defined in gradient method and crashes.

- With "dual", if you use the wrapper to call the transforms, in some specific cases (transforms with nb_bands > 1), it applies wrongly the linear operator and the resu

[2018-07-13 07:31] #21 closed

[2018-07-13 07:31] #39 closed

[2018-07-13 07:32] #47 closed

[2018-07-24 07:25] AGrigis opened #53 "Enhance transformation speed and accuracy"
In sparse2d/python/NumPyArrayData.h, we can see that we do not use the buffer during the data type conversion (speed issue), and that we cast the data to float (accuracy issue).

[2018-10-04 13:04] LElgueddari opened #60 "Psitive doesn't exist"
In `pysap/numerics/reconstruct.py` `Positivity` is imported but not used and instead `Positive` is used a typo that breaks the code

[2018-10-08 09:30] LElgueddari opened #62 "Sorting pysap.wavelist in alphabetic order"
Wavelist needs to be sorted in the alphabetic order, it would be easier to look at the wavelet especially for the pywt

[2018-10-10 09:15] LElgueddari opened #63 "gridsearch fails when running with pywt wavelet transforms"
Take the exemple, gridsearch in `examples/mri/gridsearch.py` and change the wavelet to some pywt one (e.g  "Bior6.8", "Db4") the grid search procedure fails when joblib is enabled because of some pickling error related to the pywt package`Reason: 'PicklingError("Can't pickle <class 'pysap.extensions.transform.Bior6.8'>: attribute lookup Bior6.8 on pysap.extensions.transform failed",)`

[2018-11-20 08:12] philouc opened #64 "Wrong installation instructions using git clone"
We should provide the following instruction line:
git clone https://github.com/CEA-COSMIC/pysap

instead of git clone https://github.com/neurospin/pysap

[2018-11-21 12:47] #60 closed

[2018-12-05 14:26] Martin11847 opened #68 "Wrong name pywavelet in 3D"
`from pysap.numerics.utils import generate_operators`, one can initialize a 3D linear operator with one of the pyWavelet wavelet like `Db4`, but cannot use it in 3D getting this error:
`ValueError: This wavelet can only be applied on 2D square images`
But when we take the `from pysap.plugins.mri.reconstruct_3D.linear import pyWavelet3` the names are different `pyWavelet3("Db4")` is now unrecognise

[2018-12-05 14:47] Martin11847 opened #69 "Cannot use `generate_operator` in 3D"

[2018-12-05 14:54] Martin11847 opened #70 "Non-cartesian Fourier operators closing without warning"
When kspace and 3D space are too big, the code stops but doesn't warn the user it didn't finish correctly.

[2018-12-05 14:55] Martin11847 opened #71 "gridsearch doesn't work in 3D"
This feature could be useful for 3D reconstructions.

[2019-01-14 11:52] jyhmiinlin opened #74 "Multi-coil NUFFT interface"
Hello,

I am the author of PyNUFFT. I have almost finished your suggested ideas which are very helpful. Actually, the improved version is beyond my original expectation, which I would acknowledge your contribution to the PyNUFFT repository.

Now I am facing a choice about the multi-coil version, which can be the following two different choices (I have both transforms):

**1.** Multiple-images to m

[2019-01-14 11:59] LElgueddari commented on #74
Hey,

Thank you for the update,
I will go probably for the first version that you propose, because of two advantages:
- You can go from choice 1 to 2 with low cost computation (product, sum, conjugate), which doesn't require GPU acceleration
- The 2. is more general than the 1. because it allows you to do "classic MR reconstruction" (i.e. with coil sensitivity) but also calibration-less reconstruc

[2019-01-14 16:06] jyhmiinlin commented on #74
OK!

[2019-01-14 16:06] #74 closed

[2019-02-19 17:51] zaccharieramzi opened #77 "Unused variables in `sparse_rec_fista`"
Some arguments of the function [`sparse_rec_fista`](https://github.com/CEA-COSMIC/pysap/blob/master/pysap/numerics/reconstruct.py#L36) are unused variables:
- `nb_scales`
- `atol`
- `lambda_init`

The first 2 are misleading, because their use is actually elsewhere (respectively when creating the linear operator and when creating the cost operator).

The last one should be used when initializing th

[2019-03-07 12:27] zaccharieramzi opened #78 "Wrong fourier adjoint operator"
The ajdoint operator of the fourier operator is not correct. We need to normalize by the square root of the dimension of the data (or if we choose to use the `numpy` package -more complete- rather than the `scipy` one, we can just use the `"norm"` kwarg).

To see this, run the following experiment:
[code]

I guess the easiest solution is to switch to[ `numpy` and use the `"norm"` kwarg](https://do

[2019-03-07 12:32] zaccharieramzi opened #79 "No way to have control over the padding in the Wavelet operator"
Right now it is not possible when initializing a Wavelet operator to change the padding.
- In the case of `pywt`, it is rather simple, we just need to make visible the kwarg `"mode"` (right now hardcoded to `"symmetric"` in `pysap/extensions/transform.py`).

- In the case of `isap`, it is a bit more complicated since we need to make the argument of `sparse2d` visible in the binding (currently it i

[2019-03-07 12:49] zaccharieramzi opened #80 "Wrong wavelet adjoint operator"
The adjoint operator of the wavelet transform operator is not correct in all cases. Namely, when using `pywt` wavelets, [we have redundant wavelet transforms](https://pywavelets.readthedocs.io/en/v0.4.0/ref/signal-extension-modes.html) (currently hardcoded to be so because of #79 ). In this case, wavelets are not orthogonal and therefore the adjoint is not the inverse anymore.

For the case of `is

[2019-03-07 13:49] zaccharieramzi opened #81 "`sparse_rec_fista` fails when using `pywt` wavelets"
When trying to use `sparse_rec_fista` with `pywt` it fails with:

[code]

This is because of the [lines where we check whether the wavelet is decimated](https://github.com/CEA-COSMIC/pysap/blob/master/pysap/numerics/reconstruct.py#L87-L89). We need to adapt these lines to not fail in the `pywt` case.

[2019-03-07 13:51] LElgueddari commented on #78
Have you checked the unittest of this Fourier operator, it is just a matter of normalisation.. and this subject have already been discussed in the PR #56, and they asked to keep it like that so basically the normalization will all be in the IFFT operator. Moreover the NFFT and the FFT have been checked so as they give exactly the same result.

[2019-03-07 13:54] LElgueddari commented on #80
Could you propose a PR for that at least to have orthogonnal wavelets with peridization or using zero-padding to have a well defined adjoint?

[2019-03-07 14:11] zaccharieramzi commented on #78
Well but still it holds that the adjoint is wrong because it doesn't verify the definition.

If we want to keep the fourier operator non-unitary, then the adjoint needs to be computed differently than just the inverse fourier transform.

[2019-03-07 14:15] zaccharieramzi commented on #80
Orthogonal wavelets already have a well-defined adjoint (or at least a very good approximation) in the inverse.

The problem with zero-padding is that in the case of pywavelet it is non-orthogonal. Luckily, it turns out that for zero-padding the inverse is also a rather good approximation of the adjoint (also detailed in the article).

[2019-03-07 14:41] LElgueddari commented on #78
No but the inverse Fourier transform is really the adjoint Fourier transform. We just need to pay attention when you create the fft_exemple.

[2019-03-07 14:45] zaccharieramzi commented on #78
No it's not when the normalization is not done correctly, the code example I wrote proves that.

In the unit test you can by the way see that [there is a renormalization happening](https://github.com/CEA-COSMIC/pysap/blob/master/pysap/test/test_fourier_adjoint.py#L71), hiding the fact that the inverse is not the adjoint.

[2019-03-07 14:52] zaccharieramzi commented on #78
Re #56 , I don't see where the discussion occured on the matter of normlization.

I agree that fourier is linear, however multiplying the result of the fft2 and/or the ifft2 by a scalar changes whether one is the adjoint of the other (see for example [this](https://www.quora.com/What-is-the-Fourier-Adjoint)). Indeed you need the transformation to be [unitary](https://docs.scipy.org/doc/numpy-1.15.

[2019-03-07 15:08] LElgueddari commented on #78
Here is the [conversation](https://github.com/CEA-COSMIC/pysap/pull/56/commits/fec34b2a5c40b1b799dca98a1829a1bd6cdc5b9e#r214687489) I was talking about.

[2019-03-07 15:19] zaccharieramzi commented on #78
Ok so I think the documentation is also wrong. Because we don't normalize in a symmetric way in our case.
Using the notations of the example I gave you can just do:
[code]

The reason I would be against keeping the original fft convention is because then we would need 4 operators in the FFT2 class: the op, adj_op, in_op, adj_inv_op. This is I think overkill given that we can keep only 2 operators

[2019-03-07 15:24] LElgueddari commented on #78
The PR is still open we can still change this one if @sfarrens  et @AGrigis  agreed on this?

[2019-03-08 05:38] philouc commented on #80
Did you mean: When writing
"since the inverse is adjoint of the decomposition, there is no reason that the decomposition is going to be the adjoint of the inverse " -> since the inverse is **NOT** adjoint of the decomposition, there is no reason that the decomposition is going to be the adjoint of the inverse.

You're right, we should get unittests soon to check this property and Loubna's right to

[2019-03-08 05:40] philouc commented on #81
We should probably set the attribute __is_decimated__ = False depending on the padding option in use in pywt, shouldn't we?

[2019-03-08 08:44] zaccharieramzi commented on #81
I don't understand why it depends on the padding option.

I actually think all the wavelets in `pywt` are decimated when we use the classical `wavedecn`. I say that because I was reading in the docs that they specify that to use an undecimated wavelet, you need to use the stationary wavelet.

[2019-03-08 09:16] sfarrens commented on #78
No problem for me. Just let me know if you plan to commit any further changes. If not, I can probably merge this today.

[2019-03-08 09:39] philouc commented on #80
For sure. The real adjoint PR is more demanding and is not the highest priority right now.

[2019-03-08 09:42] philouc commented on #81
Ok so this means that we should set **is_decimated = True** if  the classical wavedecn is used.

[2019-03-08 09:45] zaccharieramzi commented on #81
In my understanding yes. I am submitting a PR for it as soon as possible.

[2019-03-08 11:04] zaccharieramzi commented on #81
So actually the problem is that there are 2 different kinds of attributes at play here:
- `__is_decimated__` which is a class attribute, set only for all the `isap` wavelets.
- `is_decimated` which is an instance attribute, set only for the `pywt` wavelets.

I think the right way to go is to use the instance attribute and set it when we compute the coefficients (that is when we know whether the wa

[2019-03-08 11:19] LElgueddari commented on #78
Yes I'm planing on addind some commmit related to this issue

[2019-03-08 12:47] zaccharieramzi commented on #81
So actually, the instance attribute (`is_decimated`) is supposed to be set in [`_set_transformation_parameters`](https://github.com/CEA-COSMIC/pysap/blob/master/pysap/extensions/transform.py#L388) for the `isap` wavelets.

However this function is never called. It could be called [when setting the data](https://github.com/CEA-COSMIC/pysap/blob/master/pysap/base/transform.py#L236-L237) but since [`

[2019-03-11 10:46] zaccharieramzi commented on #78
I am closing this following Loubna's PR merge #56 .

[2019-03-11 10:46] #78 closed

[2019-03-21 15:34] AGrigis commented on #64
Just waiting for documentation refresh.

[2019-03-21 15:37] AGrigis commented on #43
We can fix this issue using the dependency_links setup option.

[2019-03-21 15:38] #42 closed

[2019-03-21 15:57] AGrigis commented on #62
Will be fixed after PR #85 merge.

[2019-03-21 15:57] #62 closed

[2019-03-21 15:57] AGrigis commented on #68
Use pywt names.
Will be fixed after PR #85 merge.

[2019-03-21 15:57] #68 closed

[2019-03-22 09:47] sfarrens opened #86 "PySAP can't find plugin modules"
@AGrigis unfortunately it looks like PySAP is still have issues finding the plugins. I get the following after building the current master.

[code]

[code]

Checking the installation, `pip freeze` clearly shows

[code]

Also, oddly, running (inside `PluginsMetaImportHook.find_module`)

[code]

works without any issues.

[2019-03-26 10:30] AGrigis commented on #79
Will be fixed after PR #85 merge.

[2019-03-26 10:30] #79 closed

[2019-03-27 13:26] AGrigis commented on #43
Since setup URLs are not really supported:
- remove this from dependencies.
- add a user message.

[2019-03-27 13:26] #43 closed

[2019-03-27 13:27] AGrigis commented on #86
Since the setup URLs are not supported:
- remove the dependency links
- we will have to release the plugins on pypi.

[2019-03-28 12:07] AGrigis commented on #53
For the moment ISAP do not accept double array:
    no matching function for call to MultiResol::recons(to_array<double, false>&).
We need an update of ISAP to close this issue.

[2019-03-28 12:30] philouc commented on #53
Got it! ok thanks and leave this issue open!

[2019-03-29 10:13] sfarrens commented on #45
With #88 PySAP can be built on macOS in any of the following ways:

1. Using the native `AppleClang` and `libomp` from Homebrew.

[code]

2. Using `gcc` from Homebrew.

[code]

All methods have been tested using `conda 4.6.2` and the following environment.

[code]

[2019-03-29 10:13] #45 closed

[2019-03-29 12:16] tianxiaoxiao2018 opened #89 "Program running problem: No module named mri.numberics.fourier"
Hi,
I have a problem, just like the picture shows.
![深度截图_选择区域_20190329195352](https://user-images.githubusercontent.com/43208155/55231786-a202b280-525e-11e9-86c3-0640a36af10b.png)

Do you have some suggestions?

Thanks for your help,
TianXiaoxiao

[2019-03-29 14:56] AGrigis commented on #89
Hi,
Did you install pysap-mri on your machine?
Best.

[2019-03-29 15:00] AGrigis commented on #89
The plugin is in dev, please install from URL:
pip install --user git+https://github.com/CEA-COSMIC/pysap-mri.git

[2019-03-30 01:47] tianxiaoxiao2018 commented on #89
Thanks for your reply. I'll try against.

[2019-03-30 01:49] tianxiaoxiao2018 commented on #89
Thank you for your reply.I'll try again.

[2019-04-18 09:45] zaccharieramzi opened #91 "Installation of mri plugin fails"
Right now when trying to install `pysap` with `pip install -e .`, it fails [because the plugins are not released on pypi](https://github.com/CEA-COSMIC/pysap/issues/86#issuecomment-477153237). Maybe before that we could have a fix, by allowing the install to [take the plugins from github instead of pypi](https://github.com/CEA-COSMIC/pysap/blob/master/pysap/info.py#L82-L83).

[2019-04-18 12:08] philouc commented on #91
We should figure this out in the coming weeks. Otherwise, people won"t look at Pysap anymore. Antoine will be back on Mon

[2019-04-18 13:48] sfarrens commented on #91
@zaccharieramzi, unfortunately that does not seem to work very well. @AGrigis and I worked for a day on various ways to build the plug-ins directly from GitHub, but it is not very reliable.

The current plan is to make formal release of PySAP (this month) with development releases of the plugins on pypi.

[2019-05-02 11:33] LElgueddari opened #93 "[Installation issue]: python fails to build in a virtualenv due to pybind"
I tried to install `pysap` in a `virtualenv` and it could not find `pybind.h`. Here is the error that I get:

[code]

[2019-05-02 11:35] sfarrens commented on #93
@LElgueddari Did you install pybind11 before building PySAP?

[2019-05-02 11:45] LElgueddari commented on #93
Yes , pybind 11 was installed but it seems more like `pybind.h` file path is not recognized by the system

[2019-05-02 11:49] sfarrens commented on #93
OK, it looks like this is a known issue with pybind11 and virtualenv.

https://github.com/tbenthompson/cppimport/issues/2

I will try to reproduce this error and see if I can find a solution.

[2019-05-02 13:09] LElgueddari commented on #93
Except that when I run `pybind11.get_include()` and `pybind11.get_include(True)`, I got twice the same path which is the path of the `pybind11` include directory.

Could we export this path and include it in the `CMakeLists.txt` of `sparse2d`, this actually solves my issue

[2019-05-02 13:12] sfarrens commented on #93
I believe we can.

Can you tell me exactly what you did that solved the issue for you?

[2019-05-02 13:18] LElgueddari commented on #93
Sure in: https://github.com/CEA-COSMIC/pysap/blob/732a014ec11aa2c6bbb430d789df920762546d98/sparse2d/python/CMakeLists.txt#L43

I change it to:
```set(CMAKE_CXX_FLAGS "-std=c++11 -DNO_DISP_IO -ggdb3 -ffast-math -fomit-frame-pointer ${APPLE_FLAGS} ${OpenMP_CXX_FLAGS} -Wno-write-strings -DNDEBUG -I/path_to_venv_pysap/include/site/python3.5")```

[2019-05-03 12:17] sfarrens commented on #93
It appears that this issue comes from two sources. Firstly that virtualenv creates a separate `site` directory for some modules and secondly https://github.com/CEA-COSMIC/pysap/blob/732a014ec11aa2c6bbb430d789df920762546d98/sparse2d/python/CMakeLists.txt#L13

where `FindPythonLibs` (https://cmake.org/cmake/help/v3.0/module/FindPythonLibs.html) either returns incorrect or empty values for `PYTHON_LI

[2019-05-03 12:55] LElgueddari commented on #93
Still getting the same issue

[2019-05-03 13:05] sfarrens commented on #93
Resolved in #94

[2019-05-03 16:06] zaccharieramzi commented on #93
So what exactly should the `VENV_DIR` env variable look like?
So far I did: `export VENV_DIR=$HOME/workspace/pysap-mri/venv/`, but I got the same error as Loubna's.

[2019-05-03 16:10] zaccharieramzi commented on #93
I see that in this line:
https://github.com/CEA-COSMIC/pysap/pull/94/files#diff-6cfd9a6a570111ce69022c106e1bab06R19

the `venv/include` directory should have the python executable, but in my case it doesn't. It just had the `site` dicrectory.

[2019-05-06 07:19] sfarrens commented on #93
@zaccharieramzi The `VENV_DIR` you set should be correct. Perhaps try expanding `$HOME` to see if that makes any difference.

The Python executable should be in `venv/bin`. The line you quoted is for the Python headers which should normally be in *e.g.* `venv/include/python3.7m`, while the Pybind11 headers should be in *e.g.*  `venv/include/site/python3.7`.

Please let me know if your virtualenv w

[2019-05-06 08:40] LElgueddari commented on #93
There's two different things, the first one is that `pybind11` needs to be installed before the cmake so you will find the python repo that you don't see.
The second thing could we try to use [`VIRTUAL_ENV`](https://virtualenv.pypa.io/en/latest/userguide/?highlight=VIRTUAL_ENV) environment variable (instead of `VENV_DIR` ) to automatically set the include path of `pybind11`

[2019-05-06 08:53] zaccharieramzi commented on #93
@sfarrens I don't think it will. This is the output of `echo $VENV_DIR`: `/home/zaccharie/workspace/pysap-mri/venv/`.

I am sorry I got confused between headers and executable. The executable is indeed in `venv/bin`. However, the headers are not in `venv/include`. Pybind11 headers are indeed in `venv/include/site/python3.6` (I use python3.6).

[2019-05-06 08:58] zaccharieramzi commented on #93
@LElgueddari I had indeed installed `pybind11` before trying to install `pysap`.

I didn't understand your second note on the `VIRTUAL_ENV` env variable.

[2019-05-06 09:00] sfarrens commented on #93
@LElgueddari I did not know about this variable. I agree it would be easier to use this as it is automatically set when the environment is activated. I will update this soon.

@zaccharieramzi Can you tell me what the contents of your `venv/include` directory are?

[2019-05-06 09:03] zaccharieramzi commented on #93
Output of `ls -a venv/include`: `.  ..  site`.

[2019-05-06 09:06] sfarrens commented on #93
OK, @LElgueddari and @zaccharieramzi can you both let me know the setup you used so that I can investigate why the headers are not in the same place.

[2019-05-06 09:12] zaccharieramzi commented on #93
I used `virtualenv -p /usr/bin/python3.6 venv`

[2019-05-06 09:13] sfarrens commented on #93
@zaccharieramzi What OS are you using? and what version of virtualenv?

[2019-05-06 09:15] zaccharieramzi commented on #93
OS: ubuntu 16.04
`virtualenv --version` output: `16.4.3`

[2019-05-06 09:37] sfarrens commented on #93
@zaccharieramzi I have not been able to reproduce your issue. Even using virtualenv v16.0.0 on Linux it still puts all the python headers in the include directory.

[2019-05-06 09:42] zaccharieramzi commented on #93
I indeed reinstalled my virtual environment and the python headers are at the right place. Checking right now to see if t works.

[2019-05-06 10:35] zaccharieramzi commented on #93
It works !

[2019-05-06 12:06] #93 closed

[2019-08-05 09:05] philouc opened #97 "[INSTALLATION ERROR]"
**System setup**
OS: [e.g] Linux Ubuntu 18.04 LTS
Python version: [e.g.] v3.6.8
Python environment (if any):

**Describe the bug**
Problem on the binding of sparse2d with pybind11 at the installation step.
pysparse.cpp:17:16: error: expected constructor, destructor, or type conversion before ‘(’ token
 PYBIND11_MODULE(pysparse, module)

**To Reproduce**
    • pip3 install modopt
    • export CC=/u

[2019-08-05 09:16] sfarrens commented on #97
@philouc I suggest you try the following:

[code]

You should not need to pre-install ModOpt or pybind11. If, for some reason you do on your system, try simply running `$ pip install pybind11`.

If this raises the same error, try building from PR #95.

[code]

[2019-08-05 11:36] philouc commented on #97
I did  $ pip install pybind11 and checked that pybind11 was actually properly installed by testing its import from python3.

Then I tried both above mentioned schemes but none of them fixes the issue. I have the feeling that "array.resize" in the **class pybind11::array_t<float>** should be renamed array.size as outlined in the attached

![Capture d’écran de 2019-08-05 13-32-37](https://user-image

[2019-08-05 14:09] AGrigis commented on #97
I will make an explicit allocation:

auto array = py::array(py::buffer_info(
        nullptr,            /* Pointer to data (nullptr -> ask NumPy to allocate!) */
        sizeof(float),     /* Size of one item */
        py::format_descriptor<double>::value, /* Buffer format */
        2,          /* How many dimensions? */
       {image.nl(), image.nc()},  /* Number of elements for each dimension

[2019-08-07 08:10] AGrigis commented on #97
Sam can you try compiling pysap using gcc 7.4.0 (the one available on ubuntu 18.04)?
Thx.

[2019-08-07 08:23] sfarrens commented on #97
@AGrigis I was able to build it on my Mac using gcc 7.4.0 with no issues.

[2019-08-07 09:39] AGrigis commented on #97
OK, seems to be a pybind11 install conflict.
When installing in local we need to export the CPLUS_INCLUDE_PATH before.

[2019-09-04 08:58] jacobtomlinson opened #98 "[INSTALLATION ERROR] Name collision?"
I'm currently watching the talk about this project at euroscipy. Sounds awesome!

To learn more I googled `pysap` which lead me to [this repository](https://github.com/SecureAuthCorp/pysap) instead.

Interestingly both the install instructions [here](https://cea-cosmic.github.io/pysap/generated/installation.html) and in [that project](https://github.com/SecureAuthCorp/pysap) are:

[code]

Has ther

[2019-09-04 09:16] philouc commented on #98
Yes, there is

 You should run:
pip3 install --user python-pySAP

or:
pip3 install git+https://github.com/CEA-COSMIC/pysap

Take care about exporting the env variable  CPLUS_INCLUDE_PATH:
export CPLUS_INCLUDE_PATH=/usr/include/python3.x

More details can be found here:
https://github.com/CEA-COSMIC/pysap/issues/97

[2019-09-04 10:36] jacobtomlinson commented on #98
Ok sure. Could the cosmic documentation be updated to have the correct pip install command?

[2019-09-04 14:06] chaithyagr opened #99 "[HELP] Why is there a restriction that incoming data must be square?"
I would like to work with 3D wavelet transforms but I see that currently in base transform.py, there is restriction that incoming data must be square:
https://github.com/CEA-COSMIC/pysap/blob/a798315626b60108fbf598ba9c15228ea3c0b206/pysap/base/transform.py#L223-L224
Can we make the raise error to a warning?

[2019-09-09 12:31] chaithyagr opened #101 "[BUG] Parallel usage of Wavelets results in errors"
**System setup**
OS: [e.g] macOS v10.14.1
Python version: [e.g.] v3.6.7
Python environment (if any): [e.g.] conda v4.5.11

**Describe the bug**
While using Pysap with Parallel in joblib to carry out Wavelet Transforms for various cases, We face issues. The nb_band_per_scale variable is not being populated.

**To Reproduce**
[code]

with _op function defined as :

[code]

**Expected behavior**
We e

[2019-09-10 08:13] zaccharieramzi commented on #101
Can you format the code in this issue to make it more readable?

[2019-09-10 08:53] chaithyagr commented on #101
Updated codes

[2019-09-10 08:58] zaccharieramzi commented on #101
Cool, can you also provide a minimal failing example so that we can directly copy-paste and investigate easily (it will also potentially be the base for a future unit test)?
Also don't forget to include the error traceback in the issue.

Finally, remember to also format the code when in text.

[2019-09-11 13:29] chaithyagr commented on #101
Well, it is not quite direct, but here is the smallest I could get.

[code]

Note that the test fails if n_cpu>1 with following traceback : (I did not add this earlier as to me it doesn't make a lot of sense)

[code]
For some reason, when we try to run in parallel the nb_band_per_scale is not initialized.

However the above code works great with n_cpu=1, in which case, we are running sequentially

[2019-09-16 08:47] chaithyagr commented on #99
Just noting here that, this particular error prevents from using pysap for 3D with shape N*N*Nz, although PyWavelets support it with right padding.
@AGrigis / @sfarrens  Maybe, we dont raise this error if we are accessing pywt?
I could get a PR for this if this is fine and good immediate solution.

[2019-09-24 09:02] fadinammour opened #103 "[BUG] Unaccessible Second Generation of Starlet"
**System setup**
OS: macOS v10.14.5
Python version: v3.7.3
Python environment : conda v4.7.10

**Describe the bug**
In the C++ code, the boolean `ModifiedATWT` allows the user to switch from the First Generation Starlet to the Second one. However in the associated Python code, he cannot get the filters of the Second Generation because it seems that he does have access to this boolean variable.

**

[2019-09-25 09:42] sfarrens commented on #99
Resolved in #102

[2019-09-25 09:42] #99 closed

[2019-09-25 10:01] sfarrens commented on #98
This issue appears to be resolved in the current HTML documentation.

https://cea-cosmic.github.io/pysap/generated/installation.html

[2019-09-25 10:01] #98 closed

[2019-09-25 10:06] sfarrens commented on #97
Perhaps we can make a PR to automate this for installation with the `--user` option.

[2019-09-25 10:08] sfarrens commented on #64
Issue resolved in latest HTML documentation update.

https://cea-cosmic.github.io/pysap/generated/installation.html

[2019-09-25 10:08] #64 closed

[2019-09-26 14:49] zaccharieramzi opened #106 "Wrong wavelet adjoint operator"
The adjoint operator of the wavelet transform operator is not correct in all cases. Namely, when using `pywt` wavelets, [we have redundant wavelet transforms](https://pywavelets.readthedocs.io/en/v0.4.0/ref/signal-extension-modes.html) (currently hardcoded to be so because of #79 ). In this case, wavelets are not orthogonal and therefore the adjoint is not the inverse anymore.

For the case of `is

[2019-09-27 08:55] chaithyagr opened #107 "[NEW FEATURE] Support for Wavelet Operator for direct use with ModOpt"
**Is your feature request related to a problem? Please describe.**
Currently pysap-mri implements a wavelet class that can be used with ModOpt for optimization.
https://github.com/CEA-COSMIC/pysap-mri/blob/master/mri/reconstruct/linear.py#L24
We notice that as we develop any other plugins in future, we may need this class repeatedly as Wavelet operator is important and comes up repeatedly for imag

[2019-10-01 13:29] chaithyagr commented on #106
Going forward in future, it would also be helpful if PySAP exposed the binaries of Sparse2D at say .local/pysap/bin
Currently, we have ongoing PR in pysap-mri where we use these binaries with the help of Modopt to use the Undecimated wavelets. A dirty fix for this is to clone the repo and build locally for travis tests.

However, we would need this updated for https://github.com/CEA-COSMIC/pysap-m

[2019-10-01 13:55] chaithyagr commented on #101
It looks like this is related with multiple imports of pysap as the backend is loky. Moving backend to threading solves this issue. I dont think there's much left to address here.
Closing.

[2019-10-01 14:07] zaccharieramzi commented on #101
I don't think we can close this. Indeed if at some point we want to do multi-processing (and not simply multi-threading) we will need to potentially use other backends.

Can you explain what you mean by the multiple imports of pysap?

[2019-10-01 14:19] chaithyagr commented on #101
For each process, a new pysap is loaded. Firstly, this adds to a lot of overhead.
In my opinion, the initializations and communications across multiple processes are not happening right in multi-process cases. We may have to explore deeper, and this could be an issue in joblib (mostly not), or here in pysap.

I am fine with keeping it open, I just felt that this could at this point mean, just mere

[2019-10-01 14:29] zaccharieramzi commented on #101
Well yes there should only be an overhead but not the error you were mentioning. Let's keep it open for further investigation.

[2019-10-16 14:59] AGrigis opened #113 "[BUG] Travis"
Always testing against Python3.7 on Travis using Conda.

[2019-10-16 15:02] #113 closed

[2019-10-17 11:18] chaithyagr opened #114 "[BUG] [INSTALLATION ERROR][TRAVIS] Install fails"
**System setup**
OS: [e.g] macOS v10.14.1
Python version: All
Python environment (if any): [e.g.] conda v4.5.11 / Venv

**Describe the bug**
A `python setup.py install` is broken with at build_ext task:
[code]

**To Reproduce**
On a new conda or venv try:
`python setup.py install`
or
`pip install git+https://github.com/CEA-COSMIC/pysap`

**Expected behavior**
For installation to run smoothly

**Mo

[2019-10-17 11:56] sfarrens commented on #114
This issue only appears to affect Python v3.7.3. The line that needs fixing is [26](https://github.com/CEA-COSMIC/pysap/blob/ffc5ee9dfde8dfb1a67b06de3c6eeae9d8f99993/setup.py#L26).

This patch worked for me:

[code]

[2019-10-17 12:01] chaithyagr commented on #114
It affects all versions that have pip 19.3 or above.

I have a PR for this #115 . I have removed the first try statement as it makes no sense in supporting something which is very old version of pip. Also, I support pip<=19.3 with a deprecation warning that this will cause errors in future.

[2019-10-23 07:18] chaithyagr opened #116 "[BUG] Clean up Travis to test for library installations"
**Describe the bug**
This issue could as well be tagged as enhancement, but I am marking it as a bug as it is causing us to miss many other important issues with installations. (like #114 )

In the current state of travis, we install all the libraries specifically:

https://github.com/CEA-COSMIC/pysap/blob/275811d0a1c8c2437c15076d0dd9f56c7fee9bdc/.travis.yml#L43-L60

Ideally we would want a much c

[2019-11-08 09:29] LElgueddari opened #122 "[INSTALLATION ERROR] Import takes soo long"
**Describe the bug**
Pysap import is so long.
Could we remove the info fom the `__init__.py` file.

**Are you planning to submit a Pull Request?**
- [ ] Yes
- [X] No

[2019-12-17 14:31] LElgueddari opened #123 "[Enhance]: Transformation speed"
**Is your feature request related to a problem? Please describe.**
For Wavelets with pywt backend, the complex numbers are supported while the current implementation is performing twice the same decomposition (real and imag part) this could be removed for pywt backend making the transforms twice faster

**Describe the solution you'd like**
Checking the backend of the transforms and to leave comple

[2020-01-07 13:57] chaithyagr commented on #114
I think this can be closed. Please reopen if there are still issues

[2020-01-07 13:57] #114 closed

[2020-01-07 14:01] chaithyagr opened #124 "[BUG] Move away from using pip.main for pybind11 installation"
**System setup**
Affected everywhere

**Describe the bug**
Currently we use:

https://github.com/CEA-COSMIC/pysap/blob/ddd9f9f02dcd629b5615fa571ac7795c2d5e9727/setup.py#L24-L29

This is messy and also uses pip internal functions which is not really recommended.

In python 3.7, I had failure in trying to install pybind11 while installing pysap:
`
Requirement already satisfied: six in /home/chaithya

[2020-01-07 14:02] chaithyagr commented on #124
This issue is all over pysap-mri in all the circle-ci.
We would also need to solve #116 to ensure this shall not happen in future.
Currently we missed this in pysap and pysap-mri was affected.

[2020-01-08 14:01] chaithyagr opened #126 "[BUG] Move all pysap test data to pysap-data on github"
Currently all the pysap data exists on ftp server, which can cause issues while connecting via any third party system (like Binder during an online run)
We would want to move all the test data to github pysap_data repository for easier access and larger uptime.

[2020-01-10 08:32] #124 closed

[2020-01-13 08:55] chaithyagr commented on #122
This is now fixed after #125. I have removed the info call

[2020-01-13 08:56] chaithyagr commented on #116
This is now resolved in #125. Closing

[2020-01-13 08:56] #116 closed

[2020-01-13 08:56] chaithyagr commented on #122
@sfarrens / @AGrigis can we close this please?

[2020-01-15 09:30] chaithyagr opened #127 "[NEW FEATURE] Matplotlib based Viewer"
It would be really helpful to have a viewer based on Matplotlib so that the images can appear in documentation page and also reduce the number of dependencies.
Also, this would ensure streamlined viewer.
We could have a common function for 2D and 3D view based on buttons in applet
Here is a set of widgets we could use and a quick example: https://matplotlib.org/3.1.1/gallery/widgets/slider_demo.ht

[2020-01-24 16:07] salman-bhai commented on #126
Question: I am not really an expert but if you don't really want to have an elaborate version control UI, why not dump all the data in this repo Wiki. Why have a separate repo just to push all data ?

Anyways the wiki is version controlled as well via git (though you typically can have only branch).

[2020-01-29 13:20] zaccharieramzi opened #131 "[NEW FEATURE] contributing guidelines"
**Is your feature request related to a problem? Please describe.**
We don't have contributing guidelines for pysap. We should make sure to have to have users contribute in the most efficient way for us.

**Describe the solution you'd like**
We should basically copy-paste the [`CONTRIBUTING.md` from modopt](https://github.com/CEA-COSMIC/ModOpt/blob/master/CONTRIBUTING.md).

**Are you planning to su

[2020-01-29 13:35] zaccharieramzi commented on #131
It's actually in the wiki: https://github.com/CEA-COSMIC/pysap/wiki/CONTRIBUTING.md-draft

[2020-01-29 13:35] #131 closed

[2020-04-27 16:02] sfarrens opened #134 "Custom install command breaks install_requires dependency install [BUG]"
**System setup**
OS: [e.g] macOS v10.15.4
Python version: [e.g.] v3.8.2
Python environment (if any): conda v4.8.3

**Describe the bug**
The custom `class PluginBuild(install):` neglects the `install_requires` list.

**To Reproduce**
`python setup.py install`

**Expected behavior**
PySAP should install all required dependencies during installation.

**Module and lines involved**
`setup.py` lines [1

[2020-04-29 12:36] sfarrens commented on #134
Resolved in #135.

[2020-05-13 15:35] #134 closed

[2020-06-15 16:41] dnc7309 opened #137 "[INSTALLATION ERROR]"
**System setup**
OS: [e.g] Ubuntu 20.04 LTS
Python version: [e.g.] v3.8.2
Python environment (if any): [e.g.]

**Describe the bug**
After installing all dependencies for ModOpt, PySAP and successfully pip installing all packages, I get an error related filter being not executable from the sparse2d module. After investigation in the sparse2d module, I was able to find the executable the error was p

[2020-06-16 15:22] sfarrens commented on #137
Hi @dnc7309,

From your screenshot it looks like you are trying to run [RCA](https://github.com/CosmoStat/rca), am I right?

If so, then all you need is `ModOpt` and `Sparse2D`. RCA doesn't actually use PySAP directly. PySAP will, however, build both of these packages for you. If the installation was successful the Sparse2D binaries will be available, but you will need to manually update your path

[2020-06-16 15:35] dnc7309 commented on #137
Hi Samuel, you are correct I am trying to run RCA. Their installation guide
stated installing PySAP should be easier than compiling iSAP myself.

Just some clarification, what is the <YOUR SYSTEM SPECS> represent and do I
run this line in my Ubunto command line? I am relatively new to Ubunto and
building these packages directly from Github.

Thank you so very much for the speedy reply, it is much

[2020-06-16 15:47] sfarrens commented on #137
Hi @dnc7309,

If (in a terminal) you go the directory where you cloned PySAP and ran the installation commands, you should see a `build` directory. Inside this directory there should be a subdirectory called `temp.<SOMETHING>`, where the `<SOMETHING>` depends on your system. On my system the directory is called `temp.macosx-10.9-x86_64-3.8` for the version of macOS and Python that I used to build

[2020-06-16 17:15] dnc7309 commented on #137
Hi Samuel, this worked! Thank you very much for your help.

On Tue, Jun 16, 2020 at 11:47 AM Samuel Farrens <notifications@github.com>
wrote:

[2020-06-16 17:17] sfarrens commented on #137
Glad to hear it!

I will close this issue now.

[2020-06-16 17:17] #137 closed

[2020-07-06 08:36] chaithyagr opened #138 "[BUG] Scikit-learn dependency causes failure when we do python setup.py install on python 3.5"
**System setup**
OS: Linux
Python version: [e.g.] v3.5
Python environment (if any): [e.g.] conda v4.5.11

**Describe the bug**
Scikit-learn has discontinued support for python3.5 . However, there are some post versions which can be installed.
However, when we call `python setup.py install`, we fail with :

[code]

**To Reproduce**
Get a new python3.5 oenvironment, clone to this repository and do `

[2020-07-06 08:42] sfarrens commented on #138
Hi @chaithyagr see #135. I would prefer to avoid hacks to keep supporting Python 3.5. We can provide instructions for users to manually install older versions of Scikit-learn if needed.

[2020-07-06 08:54] chaithyagr commented on #138
Hmm, well, although scikit-learn has dropped support, they still allow installs inside python3.5 environment. In my opinion, this is just an issue from `easy_install`, which ends up picking up the latest scikit-learn which wont work with python3.5

This can be fixed if we just place scikit-learn as PREINSTALL_REQUIRES, as then pip will carry out installation (which is what we need ideally)

I am n

[2020-07-06 08:57] sfarrens commented on #138
@chaithyagr That seems fine to me. All I want to avoid, in general, is forcing _e.g._ Python 3.8 to use an older version for Scikit-learn (or whatever) just to support Python 3.5 (which is quite outdated now).

[2020-07-06 09:19] chaithyagr commented on #138
No no, we shall not force an older version. My PR would keep the same version, we just add it to preinstall requires so that pip can pickup the right version on its own

[2020-07-06 13:42] #138 closed

[2020-09-09 15:57] aymgal commented on #103
Hi! do you plan to add support for 2nd gen starlet ? Same question for Battle-Lemaré wavelet transform, as I know it is implemented in sparse2d (used in glimpse).

[2020-09-09 16:00] sfarrens commented on #103
Hi @aymgal, I am planning to make some updates to PySAP this autumn, so I can look into.

[2020-09-09 16:01] aymgal commented on #103
That would be awesome, thank you

[2020-09-22 15:08] patquem opened #141 "[BUG] FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated"
FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  fake_data[[(int(i[0]),) for i in list(zip(shape / 2))]] = 1

suggestion:
-> np.put(fake_data, fake_data.size // 2, 1)

[2020-09-23 09:55] sfarrens commented on #141
Hi @patquem can you let me know from which module you have extracted this line?
[code]

[2020-09-23 15:23] sfarrens commented on #141
The corresponding module is located in https://github.com/chaithyagr/pysap-etomo/blob/master/etomo/linear.py

Moving issues to corresponding repo and assigning to @chaithyagr.

[2020-10-05 15:14] tobias-liaudat opened #142 "[BUG] Missing sf_tools in requirements for the astro plugin"
**System setup**
OS:  macOS v10.15.1
Python version:  3.6.12
Python environment (if any): conda 4.7.12

**Describe the bug**
The python package sf_tools is missing in the requirements for the astro plugin.

**To Reproduce**
When doing:
from pysap.plugins.astro.denoising.denoise import denoise

I got the error:
ModuleNotFoundError: No module named 'sf_tools'

**Module and lines involved**

The sf_t

[2020-10-12 08:23] sfarrens opened #143 "[Management] Plugin dependencies"
@AGrigis how would you like to manage plugin dependencies?

a) **Centralised:** Plugin developers open an issue and/or PR to update the core PySAP dependencies in `info.py`. I think this is the safer option as we can control the versions used, but it requires a bit of overhead.

b) **Decentralised:** Plugin developers manage their own dependencies separately. This minimises the overhead but may cr

[2020-10-22 08:13] zaccharieramzi opened #144 "Adding paper to the Readme"
We should have the Pysap paper linked in the readme with an associated bibtex citation in order for people to more easily reference this work.

[2020-10-22 08:19] philouc commented on #144
Absolutely ; here is the bibtex reference :
@article{farrens2020pysap,
  title={{PySAP: Python Sparse Data Analysis Package for multidisciplinary image processing}},
  author={Farrens, S and Grigis, A and El Gueddari, L and Ramzi, Z and Chaithya, GR and Starck, S and Sarthou, B and Cherkaoui, H and Ciuciu, P and Starck, J-L},
  journal={Astronomy and Computing},
  volume={32},
  pages={100402},

[2020-11-04 08:49] #144 closed

[2021-03-08 09:23] chaithyagr commented on #122
@sfarrens we can close this i think

[2021-03-08 09:25] chaithyagr commented on #97
Is this still an issue? I think this was addressed in some PR..

[2021-03-08 09:27] chaithyagr commented on #91
I think the main issue here is resolved, however this does open a new issue of having to point pysap installation to latest version of `pysap-mri`, without which the installation is quite convoluted right now. I will open a new issue for this, although we do have a PR #140 in flight for this.

[2021-03-19 12:23] patquem commented on #29
Hi @flothesof,
I try to install PySAP on Windows.
Did you succeed in finalizing your install ?
From my part, I am faced with error during the external lib compilation ('cftsio', the same one you report in the present issue)
Relative path related to `.\configure` seems to be wrong (basically : `configure` is and should be found in my case, in  C:\dev\sw\pysap-master\build\temp.win-amd64-3.7\Release

[2021-03-19 13:01] flothesof commented on #29
Hi @patquem
I never managed to get it to work.
Cheers
Florian

[2021-03-19 15:41] sfarrens commented on #29
Hi @patquem, unfortunately we don't currently have the resources (time and machines) to test and support PySAP on Windows.

We are currently preparing a new release of PySAP and I can try to include Docker container that may help.

[2021-03-19 15:53] patquem commented on #29
Hello @sfarrens,
Nice to hear.
Guillaume, a team-mate who passed all the week to install pySAP on Linux is happy to learn this information ;)
(Guillaume was previoulsy in the Philippe C. team for his student final year project. He joined us 2 weeks ago).

[2021-03-19 15:56] sfarrens commented on #29
Well we will certainly do our best to make it as easy to install as possible. 😅

Regards to Guillaume!

[2021-03-19 17:33] philouc commented on #29
It was clear to me originally that Guillaume knew that PySAP is not yet compatible with Windows. I'm sorry about the waste of time.

[2021-03-22 08:33] patquem commented on #29
Don't worry about it @philouc.
Guillaume was in charge of **Linux** install and I was in charge of **Windows** install (trial).
Zineb and I had heard there were some problems in Windows, but I wanted to understand where and why. In the PySAP documentation, the sentence : _The installation of PySAP has been extensively tested on Ubuntu and macOS, however we cannot guarantee it will work on every op

[2021-03-25 13:39] #122 closed

[2021-03-25 13:51] sfarrens commented on #91
From the last PySAP coding sprint it was decided that we would have scheduled PySAP releases 3 or 4 times per year. For each new release (major, minor or patch) we can update the fixed plug-in versions used by PySAP.  Developers can always manually change plug-in versions for testing.

Unless there objections I will close this issue.

[2021-03-25 13:53] sfarrens commented on #12
I propose to move PySAP CI from Travis-CI to GitHub actions for the next release.

[2021-03-25 13:55] sfarrens commented on #89
@tianxiaoxiao2018 Is this still an issue for you?

[2021-03-25 13:58] sfarrens commented on #97
@philouc is this still an issue? If so we can try to resolve this for the next release, if not I will close this issue.

[2021-03-25 14:00] sfarrens commented on #107
@chaithyagr is this something you are still working on?

[2021-03-25 14:02] sfarrens commented on #126
@AGrigis do you have time to look into this?

[2021-03-25 14:04] sfarrens commented on #127
@chaithyagr Since this is not really an urgent issue I think we can leave this for another PySAP release later this year.

[2021-03-25 14:06] sfarrens commented on #141
Closing this issue as PySAP-ETomo is not currently hosted on CEA-COSMIC. If/when it is we can reopen and move the issue is necessary.

[2021-03-25 14:06] #141 closed

[2021-03-25 14:08] sfarrens commented on #143
@AGrigis can you let me know if you have any thoughts on this issue?

[2021-03-25 14:30] chaithyagr commented on #107
Not really @sfarrens , I am not sure if it is needed for me now. Earlier while I was working on `pysap-emicro`, it was with efforts to prevent common codes in multiple places. Right now I am just working on pysap-mri and I am comfortable in current state.. It is upto you if you want to close this or archive it for future

[2021-03-25 14:31] chaithyagr commented on #127
Yes sure.

[2021-03-25 14:33] sfarrens commented on #107
OK, I'll close it for now and we can reopen it if it becomes relevant again in the future.

[2021-03-25 14:33] #107 closed

[2021-03-25 17:02] philouc commented on #97
No you can close it as it's no longer an issue.

[2021-03-25 17:03] #97 closed

[2021-04-22 16:26] #91 closed

[2021-04-22 16:28] #89 closed

[2021-04-23 15:14] #12 closed

[2021-04-26 08:04] sfarrens commented on #29
@patquem @flothesof the latest release of PySAP (v0.0.5) comes with a [Docker image available on Docker Hub](https://hub.docker.com/r/ceacosmic/pysap). As Windows supports Docker, this may be a solution that could interest you.

To install the Docker image with PySAP pre-installed run:
[code]
then to launch a Jupyter notebook that has access to your current working directory run:
[code]

[2021-05-20 12:19] chaithyagr opened #157 "Python interpreter and version mis-match causes installation to succeed while `pysparse` is not installed"
Currently, in the CMake file here:

https://github.com/CEA-COSMIC/pysap/blob/529bce62f46d0202e68a80ebae10a9f4696d487a/sparse2d/python/CMakeLists.txt#L11-L18

There is no check if the python interpreter and python libraries are the same version or not. This miss-match can cause a lot of issues..

As a first step, we can limit the python versions to >= 3.6 here. Most of recent versions can handle ba

[2021-06-13 23:52] jmsweng opened #158 "[BUG] Error while running example non_cartesian_reconstruction.py"
**System setup**
OS: Windows 10, running the provided docker
Python version: 3.8.8
Python environment (if any): [e.g.] conda v4.5.11

**Describe the bug**
Running the code provided in the non_cartesian_reconstruction.py example results in the error
AttributeError: 'ForwardBackward' object has no attribute '_metrics'

**To Reproduce**
Ran code in the provided example code

**Expected behavior**
I'm

[2021-06-15 14:31] paquiteau opened #159 "[INSTALLATION ERROR] default gcc 11 fail to compile sparse2d"
**System setup**
OS: I am using  archlinux ~~btw~~,  gcc 11.1.0
Python version: [e.g.] v3.9.5

**Describe the bug**
`setup.py install` fail when compiling sparse2d librairy

**Cause and Solution**
Updating to gcc 11.1.0 change the default std to C++17: https://gcc.gnu.org/gcc-11/changes.html
To solve, one simply needs to set the std flags in the cmake config.

**Are you planning to submit a Pull R

[2021-06-24 08:36] #159 closed

[2021-06-24 15:43] sfarrens opened #161 "Choose API documentation standard for PySAP suite"
We need to choose a uniform structure for PySAP, ModOpt and all of the plug-ins.

[2021-06-24 15:49] sfarrens opened #162 "[INSTALLATION ERROR] Test installation on Windows"
Test PySAP installation using Docker image and new Windows linux interface in order to provide appropriate recommendations.

[2021-06-24 15:59] sfarrens opened #163 "Test GPU access on different systems"
Ensure that PySAP can access the GPU on different systems, in particular via the Docker image.

[2021-06-24 16:01] sfarrens opened #164 "Unpin package dependency versions and update documentation"
Replace fixed dependency versions with minimum required versions and update documentation with recommended (or tested) versions.

[2021-06-24 16:03] sfarrens opened #165 "Update contribution guidelines"
Update contribution guidelines. In particular, include section on making new plug-ins.

[2021-11-26 09:36] sfarrens commented on #164
- [ ] PySAP
- [ ] ModOpt ([open MR](https://github.com/CEA-COSMIC/ModOpt/pull/189))
- [ ] Plugins

[2021-11-26 10:32] sfarrens opened #168 "[PLUGIN REVIEW] pysap-etomo"
## Plug-In Description

**Which type of plug-in do you want reviewed?**
- [ ] A new plug-in that is not hosted on CEA-COSMIC
- [X] An existing plug-in that is hosted on CEA-COSMIC

**New plug-in details**
- Repository URL: https://github.com/CEA-COSMIC/pysap-etomo
- Where is example data hosted:  *e.g.* ftp://MYFTP.com
- What is the purpose of this plugin? What is the application?

**Existing plug

[2021-11-26 10:44] sfarrens opened #167 "[NEW FEATURE] Optional Install of Sparse2D and plug-ins"
Allow optional installation of Sparse2D and plug-ins. The default installation will remain to install everything, but perhaps command line options can be added to allow users to avoid installing Sparse2D or certain plug-ins.

[2021-12-02 14:34] sfarrens commented on #167
I have made some progress on this front. This [stack overflow thread](https://stackoverflow.com/questions/18725137/how-to-obtain-arguments-passed-to-setup-py-from-pip-with-install-option) has some nice examples of how to add `user_options` to `setup.py`. I have tested this locally for a dummy package and it seems to work perfectly both running `python setup.py install` and `pip install .`.

I will

[2021-12-02 20:18] philouc commented on #167
Thanks so much Sam for handling this and taking care of all possibilities.
I wonder if we should the possibility of not installing GPUnufft. Chaithya give us your feedback on that. Perhaps the GPUnufft is not installed by default. I don't remember.

Thanks.
Philippe

[2021-12-02 20:23] chaithyagr commented on #167
No Philippe, we don't install gpunufft by default. We in fact tell users to install it separately in the README

[2021-12-10 09:24] sfarrens commented on #168
Hi @philouc and @chaithyagr, as you probably have seen @Biagig has already [tagged a release of pysap-etomo](https://github.com/CEA-COSMIC/pysap-etomo/releases/tag/v0.0.1). We should be all set to include this into the next release of PySAP, but since we still have some time to be thorough, I would kindly request (if you can find some time) that you have a quick look at the [pysap-etomo repo](http

[2022-01-05 16:47] sfarrens commented on #168
@Biagig @philouc I have opened a [PR on pysap-etomo](https://github.com/CEA-COSMIC/pysap-etomo/pull/5) to resolve some issues I encountered when attempting to integrate this plug-in into PySAP.

I have also opened a [minor issue regarding one of the example scripts](https://github.com/CEA-COSMIC/pysap-etomo/issues/6).

I believe we will need to do some more work to improve this plug-in going forwa

[2022-01-18 15:36] #168 closed

[2022-01-18 15:36] #167 closed

[2022-01-18 15:37] #164 closed

[2022-02-21 12:16] sfarrens opened #172 "Pick template/theme for all PySAP documenation."
At present there are two different standards in place for documentation of the full PySAP suite:

- The [PySAP core documentation](https://python-pysap.readthedocs.io/en/latest/?badge=latest) which uses Antoine's [pysphinxdoc](https://github.com/AGrigis/pysphinxdoc),
- and the [ModOpt documentation](https://cea-cosmic.github.io/ModOpt/) which uses @sfarrens's [Pyralid template](https://github.com/

[2022-03-07 09:53] sfarrens commented on #172
Notes from discussion:

- Inspiration from [Scikit-Learn](https://scikit-learn.org/stable/index.html)
   - Click on example functions to link directly to API documentation
   - Welcome page with boxes linking to each PySAP plug-in
   - Text files for examples, easier to version control

[2022-03-07 10:39] sfarrens opened #173 "Common Sphinx build for all PySAP API"
Set up GitHub action to build all PySAP API documentation in a single location.

[2022-03-07 16:11] sfarrens opened #175 "Link to API docs from examples"
Set up PySAP examples such that functions/classes in exampled link directly to the appropriate API documentation.

[2022-03-07 16:19] sfarrens commented on #173
Example of the unified: [pysap_docs.zip](https://github.com/CEA-COSMIC/pysap/files/8199179/pysap_docs.zip)

[2022-04-01 13:12] YuyangXueEd opened #177 "[HELP] Have difficulty installing in linux server"
**System setup**
Linux version 3.10.0-1160.59.1.el7.x86_64 (mockbuild@sl7-uefisign.fnal.gov) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-44) (GCC) ) #1 SMP Tue Feb 22 10:57:56 CST 2022
Python version: v3.9.11
Python environment (if any): conda 4.12.0

**Describe the bug**
I am trying to reimplement the [tutorial](https://github.com/philouc/mri_acq_recon_tutorial/tree/master/python) here. Some of th

[2022-04-01 13:16] chaithyagr commented on #177
Yes it seems that the `gcc` version can be the reason... Can you please install a more recent version and let us know if you still face the issue?

[2022-04-01 13:25] YuyangXueEd commented on #177
Thank you for your quick reply!

Maybe gcc 4.8 is too old. I have installed gcc 11.2.0 version and it works well. Thank you for your help!

May I suggest that a lowest support version of gcc should be noted in the requirements?

[2022-04-01 13:25] #177 closed

[2022-04-01 13:26] sfarrens commented on #177
Hi @YuyangXueEd thanks for the suggestion. We will be sure to add this information to the documentation.

[2022-04-19 08:13] paquiteau commented on #127
For more elaborated view, we can also use napari: https://github.com/napari/napari

[2022-05-14 10:31] andrevitorelli opened #178 "[INSTALLATION ERROR]"
**System setup**
[candide](https://calet.org/)

**Describe the bug**
Install fails because the compiler doesn't understand the` --std=c++14 `option while compiling sparse2d
.
**To Reproduce**
`pip install python-pysap `on candide

**Are you planning to submit a Pull Request?**
- [ ] Yes
- [X] No

[2022-06-03 21:01] andrevitorelli commented on #178
It turned out that the problem is actually while compiling sparse2d. At some point, cmake calls for a different compiler than the one we expect.
Solved by setting  `export DCMAKE_C_COMPILER=gcc`. It was pointing to a `/usr/bin/c++` which is a 4.8.5 gcc.

I won't close the issue now, as there is probably a minor bug in the installer that can be solved. I might look into that in the future.

[2022-07-01 10:01] sfarrens commented on #175
Resolved in #174

[2022-07-01 10:01] #175 closed

[2022-07-01 10:01] sfarrens commented on #173
Resolved in #174

[2022-07-01 10:01] #173 closed

[2022-07-01 10:02] sfarrens commented on #172
Resolved in #174

[2022-07-01 10:02] #172 closed, assigned to sfarrens

[2022-10-20 09:25] ethanyhzhang opened #181 "[HELP] How to compute spectrum of 1d data using choi-williams distribution?"
How to compute spectrum of 1d data using choi-williams distribution?

seems no docs for guide.

Thanks.

[2022-11-18 00:30] ycp21 opened #182 "[INSTALLATION ERROR] glibc version 2.34+ breaks sparse2d compile"
**System setup**
OS: Ubuntu 22.04
Python version: v3.9.13
Python environment (if any): [e.g.] conda v22.9.0

**Describe the bug**
I have a fresh Ubuntu 22.04 install and am trying to install pysap using a conda environment.  During the build process I get this error:

[code]

also reported, eg here: https://stackoverflow.com/questions/71454588/minsigstksz-error-after-update-in-my-manjaro-linux.  I

[2022-11-18 08:29] sfarrens commented on #182
Thanks @ycp21 for opening the issue. I am working on a new release for the end of the year, I will investigate and try to include a solution for this.